# Logs
logs
*.log

# Dependency directories
node_modules

# dotenv environment variables file
.env

# output
_site

# Mac files
.DS_Store

# Yarn
yarn-error.log
.pnp/
.pnp.js
# Yarn Integrity file
.yarn-integrity