---
layout: layouts/base.njk
---

<ul class="post-list">
    {%- for post in collections.post | reverse -%}
    <li class="post">
        <time class="post-date" datetime="{{ post.date }}">{{ post.date | dateDisplay }}</time>
        <a class="post-link" href="{{ post.url }}">
            <h2 class="post-title" >{{ post.data.title }}</h2>
        </a>
        <div class="post-excerpt">
            {%- if post.data.excerpt -%}{{ post.data.excerpt }}{%- else -%}{{ post.data.content | safe }}{%- endif -%}
        </div>
    </li>
    {%- endfor -%}
</ul>