@keyframes bounce_content {
    0% {
        transform: translate(-10%,-100%) rotate(-2deg);
    }
    40% {
        transform: rotate(-3deg);
    }
    60% {
        transform: rotate(2.5deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    100% {
        transform: none;
    }
}


@keyframes fade_and_slide_less {
    0% {
        transform: translateY(-25%);
        opacity: .5;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes fade_and_slide {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes knock_right {
    0% {
        transform: none;
    }
    100% {
        transform: rotate(2deg);
    }
}

@keyframes knock_left {
    0% {
        transform: none;
    }
    100% {
        transform: rotate(-3deg);
    }
}

.about-me {
    margin-top: 1rem;
    position: relative;
    animation: fade_and_slide .75s 1;
    display: grid; 
    grid-template: auto / 1fr;

    @media screen and (min-width: 550px) {
        grid-template: auto / repeat( 6, 1fr);
        overflow: hidden;

        .u-photo {
            grid-row: 1;
            grid-column: 1 / span 4;
        }
        .intro {
            grid-row: 1;
            grid-column: 4 / span 6;
            font-size: .8em;
            padding: 1em;
            background-color: white;
            align-content: start;
        }
        .details {
            grid-row: 2;
            grid-column: 1 / span 6;
        }

    }

    @media screen and (min-width: 675px) {
        .intro {
            font-size: .9em;
        }
    }

    @media screen and (min-width: 800px) {
        grid-template: auto / 1fr 1fr;

        .u-photo {
            grid-column: 1;
        }
        .intro {
            grid-column: 2;
            margin-left: 1rem;

            font-size: 1em;
            padding: 0;
            background-color: transparent;
        }
        .details {
            grid-column: 1 / span 2;
        }

    }

    .u-photo {
        max-width: 100%;
        border-radius: 4px;
        margin-bottom: 1rem;
        max-height: 60vh;

        @media screen and (min-width: 400px) {
            max-height: none;
        }

        @media screen and (min-width: 550px) {
            margin-left: -2rem;
            margin-bottom: 0;
        }

        @media screen and (min-width: 800px) {
            max-width: 435px;
            margin: 0 0 1rem;
        }
    }

    hgroup {
        margin-bottom: .75rem;
        line-height: 1.15;
    }

    p {
        line-height: 1.35;
    }
 
    li {
        font-size: .85em;
    }

    h4 {
        margin-top: 2.8em;
        font-size: .75em;
        font-family: $sans-serif;
        text-transform: uppercase;
    }

    h5 {
        margin-top: 3em;
        font-family: $sans-serif;
        font-weight: bold;
        text-transform: uppercase;

        & + p {
            margin-top: .25em;
        }

        @media screen and (min-width: 800px) {
            margin-top: 0;
        }
    }

    .link-list {
        font-family: $sans-serif;
        padding-left: 0;

        p {
            font-size: 1.5em;
        }

        @media screen and (min-width: 800px) {
            margin-bottom: 2em;
        }
    }
}

.resume-line a + a {
    font-size: .75em;
}

.availability {
    position: relative;
    border-radius: 4px;
    padding: .75em;
    margin: 3em auto 2em;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #d7e7f2;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #add8f6;
        animation: knock_left .5s 1.2s 1 forwards;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .inner {
        position: relative;
        z-index: 2;
    }

    .box-title {
        position: absolute;
        top: -1.65em;
        left: 0;

        font-size: .75em;
        font-family: $sans-serif;
        text-transform: uppercase;
    }

    p {
        font-size: .85em;
        color: black;
        margin: 0 0 .5em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    mark, a {
        display: inline-block;
        background-color: transparent;
    }

    a {
        line-height: 1;
        font-weight: bold;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }

    .contact-line {
        font-size: .75em;
    }
}