/* colors */
$primary:   #6cbcf5;
$secondary: #3d6886;
$page-bg:   #fbfbfb;

$text:      #333333;
$bold:      #000000;
$fade:      #7d7d7d;

/* fonts */
$serif: 'Arvo', serif;
$sans-serif: "Montserrat", sans-serif;
$display: "Montserrat", sans-serif;

/* container widths */ 
$site-max: 1240px;
$inner-max: 768px;
$content-max: 612px;

/* breakpoints */
$bp-narrow: "min-width: 500px";
$bp-mid:    "min-width: 700px";
$bp-wide:   "min-width: 1050px";
$xl: 1440px; 
