@import 'variables';
@import 'typography';

main,
#site-header,
#site-footer {
    max-width: 32rem;
    padding: 1rem;
    margin: auto;
}

nav {

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
    }

    li {
        margin-left: 1rem;
    }
}

#site-header {
    margin-top: 1em;
    display: grid;
    grid-template: 1fr / 1fr 3fr;

    nav {
        grid-column: 2;
        font-size: .85em;
    }
}

#site-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: .75rem;
    border-top: 3px solid $text;
    transform: skewY(2deg);
    font-size: .75em;
    color: $fade;

    a {
        color: $fade;

        &:hover {
            color: white;
        }
    }
}

.subtitle {
    color: $fade;
}

.post-list {
    padding-left: 0;
    margin-top: 2rem;

    > li {
        list-style: none;
        margin-top: 5rem;

        &:first-of-type{
            margin-top: 0;
        }
    }
}

.post {
    .post-date {
        font-size: .8em;
        color: $fade;
    }

    .post-link {
        display: block;

        .post-title {
            display: inline-block;
        }

        &:hover {
            background-color: transparent;

            .post-title {
                color: white;
                background-color: $primary;
            }
        }
    }

    .post-title {
        font-size: 2.5rem;
        margin: 0;
    }

    .post-excerpt,
    .post-content {
        margin-top: .75rem;
    }

    h2,h3,h4,h5,h6 {
        margin-bottom: .25rem;
    }

    ol, dl {
        padding-left: 1rem;
        margin-bottom: 1rem;
    }

    ul {
        padding: 1rem;
        margin-bottom: 1rem;
        list-style: none;

        border: 1px solid rgba(0,0,0,.10);
        border-radius: 6px;
        
        li {
            list-style-position: inside;
            padding-left: 1em;
            text-indent: -.5em;

            &::before {
                display: inline-block;
                content: "•"; 
                color: $primary;
                margin-right: .5rem;
            }
        }
    }

    blockquote {
        border-left: 3px solid $bold;
        padding-left: 1rem;
        margin: 0;
    }

    a {    
        color: $primary;

        &:visited, 
        &:active {
            color: $primary;
        }

        &:hover {
            color: white;
            background-color: $primary;
        }
    }

}

.single {
    margin-top: 2rem;
    animation: bounce_content 1s 1;
}

article a {
    color: $primary;

    &:visited, &:active {
        color: $primary;
    }

    &:hover {
        color: white;
    }
}

@import 'about';
