@import 'variables';
@import 'typography';

main,
.site-header,
.site-footer {
    max-width: 45rem;
    margin: auto;
    padding: 1rem;
}

nav {
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
    }

    li {
        margin-left: 1rem;
        margin-top: 0;
    }
}

.site-header {
    display: grid;
    grid-template: 1fr / 2fr 3fr;
    padding: .5rem;
    margin-top: .5rem;
   
    nav {
        grid-column: 2;
        font-size: .65em;
        align-self: end;

        ul {
            padding-left: 0;
            padding-bottom: .10em;
        }

        a {
            font-weight: normal;
        }
    }

    .fullname {
        font-weight: normal;
        font-size: .6em;
    }

    @media screen and ($bp-narrow) {
        margin-top: 1em;
        padding: 1rem;
        nav {
            font-size: .85em;
            ul {
                padding-bottom: 0;
            }
        }
    }

    @media screen and ($bp-mid) {
        grid-template: 1fr / 1fr 3fr;
    }

}


main > article {
    margin-top: 1rem;

    @media screen and ($bp-narrow) {
        margin-top: 2rem;
    }
}

.site-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 2rem;
    margin-bottom: 0;
    padding-top: .75rem;
    border-top: 3px solid $text;
    font-size: .75em;
    color: $fade;
    animation: knock_right .5s 1.2s 1 forwards;

    a {
        color: $fade;
    }

    @media screen and ($bp-narrow) {
        margin-bottom: 2rem;
    }
}

.copyright span {
    font-size: .75em;
}

.subtitle {
    color: $fade;
}

.post-list {
    width: 32rem;
    margin: 2rem auto;
    padding: 0 1rem;

    > li {
        list-style: none;
        margin-top: 5rem;

        &:first-of-type{
            margin-top: 0;
        }
    }
}

.post {

    .post-date {
        font-size: .8em;
        color: $fade;
    }

    .post-link {
        display: block;

        .post-title {
            display: inline-block;
        }

        &:hover {
            background-color: transparent;

            .post-title {
                color: white;
                background-color: $primary;
            }
        }
    }

    .post-title {
        font-size: 2.5rem;
        margin: 0;
    }

    .post-excerpt,
    .post-content {
        margin-top: .75rem;
    }

    h2,h3,h4,h5,h6 {
        margin-bottom: .25rem;
    }

    ol, dl {
        padding-left: 1rem;
        margin-bottom: 1rem;
    }

    ul {
        padding: .5rem;
        margin-bottom: 1rem;
        list-style: none;
        
        li {
            list-style-position: inside;
            padding-left: 1em;
            text-indent: -.5em;

            &::before {
                display: inline-block;
                content: "•"; 
                color: $primary;
                margin-right: .5rem;
            }
        }
    }

    blockquote {
        border-left: 3px solid $bold;
        padding-left: 1rem;
        margin: 0;
    }

    a {    
        color: $primary;

        &:visited, 
        &:active {
            color: $primary;
        }

        &:hover {
            color: $primary;
        }
    }

}

.single {
    width: 32rem;
    margin: 2rem auto;
    padding: 0 1rem;
    animation: fade_and_slide 1s 1;
}

@import 'about';
@import 'work';
@import 'project';