---
title: About me.
description: About Noah
layout: layouts/page.njk
---
 
<section class="about-me h-card">

    <img class="u-photo" src="/images/comflo.jpg" alt="a photo of Noah Grubb" />

    <div class="intro ">
        <hgroup>
            <h2>I'm <span class="p-name">Noah Grubb,</span></h2>
            <h3>an independent web developer and instructor in <span class="p-locality">Philadelphia, PA</span>.</h3>
        </hgroup>
        <p>
            I build websites and strive to make the internet a more human place.
        <p>
        <p>
            I operate professionally as <a href="http://sailwind.digital" title="sailwind.digital">Sailwind Digital</a> and as a frequent collaborator of <a href="https://being.design" title="being.design" target="_blank">Being Design</a>. I also recently finished instructing a full-stack web development bootcamp at University of Pennsylvania. 
        </p>
    </div>

    <div class="details"> 

        {# 
        <button>Want to know more?</button>
        <div class="expander">
            <p> -- career details -- </p>
            <p> -- my values -- </p> 
        </div>
        #}

        <h4>You can find me around the web in a few places.</h4>
        <ul class="link-list">
            <li>github: <a class="u-url" href="https://github.com/n-grubb" rel="me" target="_blank">n-grubb</a></li>
            <li>email: <a class="u-email" href="mailto:noah@sailwind.digital" rel="me">noah@sailwind.digital</a></li>
        </ul>
    </div>
</div>