---
title: About me.
description: I'm Noah Grubb, an independent web developer based in Philadelphia. I work to make the internet a more human place.  
layout: layouts/page.njk
---
 
<section class="about-me h-card">

    <img class="u-photo" src="/images/me-sc.jpg" alt="a photo of Noah Grubb" />

    <div class="intro">
        <hgroup>
            <h2>I'm <span class="p-name">Noah Grubb,</span></h2>
            <h3>an independent web developer and instructor in <span class="p-locality">Philadelphia, PA</span>.</h3>
        </hgroup>
        <p>
            I build websites and strive to make the internet a more human place.
        <p>

        <aside class="availability available-now">
            <h3 class="box-title">Availability:</h3>
            <p>I am currently seeking out new opportunities! I am available for <mark class="type-of-work full-time">full-time</mark> &amp; <mark class="type-of-work parttime">part-time</mark> work for Fall 2019 and beyond.</p>
            <p class="contact-line">Have an exciting project or opportunity to talk about it? <a href="mailto:noah@sailwind.digital">Get in touch.</a></p>
        </aside>

        <p class="resume-line">grab my <a href="/images/ng_resume_2019.pdf" target="_blank" title="Noah Grubb's Resume">resume</a></p>

        <h4>Around the web:</h4>
        <ul class="link-list">
            <li>github: <a class="u-url" href="https://github.com/n-grubb" rel="me" target="_blank">n-grubb</a></li>
            <li>linkedin: <a href="https://www.linkedin.com/in/ngrubb/" target="_blank">ngrubb</a></li>
            <li>email: <a class="u-email" href="mailto:hello@noahgrubb.com" rel="me">hello@noahgrubb.com</a></li>
        </ul>

        
        {# my resume #}
    </div>

    
    <div class="details"> 


        <h5>How I work</h5>
        <p>I consider myself a cratsman and aim to provide the highest quality solutions. I strongly believe in not just completing work but doing it right. A job well done saves time and money in the future.</p>
        <p>I want to be a partner, working as a member of your team. I want to know how your team operates and understand the challenges of your business. The best engineered solutions are tailored to work within your constraints.</p>
        
        {#
        <p>I am an experienced full-stack developer with a passion for the front end. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        {# check out some of my work 
        <h4>Check out some of my work:</h4>
        <section class="projects featured">
            <article class="project sethgodin">
                <figure class="project-thumb">
                    <a href="/projects/seth-godin">
                        <img src="/images/seths-blog.jpg" alt="Seth Godin's Blog Homepage" />
                    </a>
                </figure>
                <div class="project-details">
                    <h4 class="project-title">Seth Godin's Blog</h4>
                    <p class="project-description">
                        On this project I implemented a redesign of Seth Godin's marketing blog, one of the most popular blogs on the internet.
                    </p>
                    <div class="project-links">
                        <a href="/projects/seth-godin">Learn More</a>
                        <a href="https://seths.blog/" target="_blank">Visit Website</a>
                    </div>
                </div>
            </article>

            <article class="project bonnevaux">
                <figure class="project-thumb">
                    <a href="/projects/bonnevaux">
                        <img src="/images/bonnevaux-logo.png" alt="Bonnevaux Meditation &amp; Retreat Center Logo" />
                    </a>
                </figure>
                <div class="project-details">
                    <h4 class="project-title">Bonnevaux <br />Meditation &amp; Retreat Center</h4>
                    <p class="project-description">I worked with <a href="https://being.design/" target="_blank">Being Design</a> to deliver a hand-crafted digital experience to support the meditation center's fundraising intiatives and event booking.</p>
                    <div class="project-links">
                        <a href="/projects/bonnevaux">Learn More</a>
                        <a href="https://bonnevauxwccm.org/" target="_blank">Visit Website</a>
                    </div>
                </div>
            </article>

            <article class="project edgeworx">
                <figure class="project-thumb">
                    <a href="/projects/edgeworx">
                        <img src="/images/edgeworx.png" alt="Edgeworx Logo" />
                    </a>
                </figure>
                <div class="project-details">
                    <h4 class="project-title">Edgeworx <br />and ioFog</h4>
                    <p class="project-description">Edgeworx is an Eclipse-backed startup that created a platform for edge computing. I developed their brochure site and contributed to the development of the documentation site for their platform ioFog.</p>
                    <div class="project-links">
                        <a href="/projects/edgeworx">Learn More</a>
                        <a href="https://edgeworx.io/" target="_blank">Visit Website</a>
                    </div>
                </div>
            </article>
        </section>
        

        <!--
        <div class="callout" id="contact">
            <h2>Let's Chat.</h2>
            <p>I'm currently available for hire. If you think we could make a good team or have an exciting idea to chat about, feel free to <a href="mailto:hello@noahgrubb.com">get in touch</a>.</p>
        </div>
        -->
        #}


    </div>
    

</div>