---
title: Work
description: Selected work from Noah Grubb's digital portfolio.
layout: layouts/work.njk
---

<header class="work-header">
    <h1 class="post-title">Selected Work</h1>
</header>

<section class="projects">

    <article class="project sethgodin">
        <figure class="project-thumb">
            <a href="/projects/seth-godin">
                <img src="/images/seths-blog.jpg" alt="Seth Godin's Blog Homepage" />
            </a>
        </figure>
        <div class="project-details">
            <h4 class="project-title">Seth Godin's Blog</h4>
            <p class="project-description">
                On this project I implemented a redesign of Seth Godin's marketing blog, one of the most popular blogs on the internet.
            </p>
            <div class="project-links">
                <a href="/projects/seth-godin">Learn More</a>
                <a href="https://seths.blog/" target="_blank">Visit Website</a>
            </div>
        </div>
    </article>

    <article class="project bonnevaux">
        <figure class="project-thumb">
            <a href="/projects/bonnevaux">
                <img src="/images/bonnevaux-logo.png" alt="Bonnevaux Meditation &amp; Retreat Center Logo" />
            </a>
        </figure>
        <div class="project-details">
            <h4 class="project-title">Bonnevaux <br />Meditation &amp; Retreat Center</h4>
            <p class="project-description">I worked with <a href="https://being.design/" target="_blank">Being Design</a> to deliver a hand-crafted digital experience to support the meditation center's fundraising intiatives and event booking.</p>
            <div class="project-links">
                <a href="/projects/bonnevaux">Learn More</a>
                <a href="https://bonnevauxwccm.org/" target="_blank">Visit Website</a>
            </div>
        </div>
    </article>

    <article class="project edgeworx">
        <figure class="project-thumb">
            <a href="/projects/edgeworx">
                <img src="/images/edgeworx.png" alt="Edgeworx Logo" />
            </a>
        </figure>
        <div class="project-details">
            <h4 class="project-title">Edgeworx <br />and ioFog</h4>
            <p class="project-description">Edgeworx is an Eclipse-backed startup that created a platform for <a href="https://en.wikipedia.org/wiki/Edge_computing" target="_blank">edge computing</a>. I developed their brochure site and contributed to the development of the documentation site for their platform ioFog.</p>
            <div class="project-links">
                <a href="/projects/edgeworx">Learn More</a>
                <a href="https://edgeworx.io/" target="_blank">Visit Website</a>
            </div>
        </div>
    </article>

    

    {# 
    <article class="project philly-pretzel">
        <figure class="project-thumb">
            <img src="/images/ppf-logo.png" alt="Philly Pretzel Factory Logo" />
        </figure>
        <div class="project-details">
            <h4 class="project-title">Philly Pretzel Factory</h4>
            <p class="project-description">Implemented a redesign of Seth Godin's marketing blog, one of the most popular blogs on the internet.</p>
            <a href="https://seths.blog/" target="_blank" class="button">Visit Website</a>
        </div>
    </article>
    #}

    {#
    <article class="project saffar">
        <figure class="project-thumb">
            <img class="project-thumb" src="/images/studio-saffar-logo.png" alt="Studio Saffar Logo" />
        </figure>
        <div class="project-details">
            <h4 class="project-title">Studio Saffar</h4>
            <p class="project-description">Implemented a redesign of Seth Godin's marketing blog, one of the most popular blogs on the internet.</p>
        </div>
    </article>
    #}
    {# <h2>More Work</h2> #}
    <div class="projects-secondary">

        <article class="project som">
            <figure class="project-thumb">
                <img src="/images/som-logo.png" alt="The School of Meditation Logo" />
            </figure>
            <div class="project-details">
                <h4 class="project-title">The School of Meditation</h4>
                <p class="project-description">I worked with <a href="https://being.design/" target="_blank">Being Design</a> to build a learning management system and social network for the World Community for Christian Meditation. The site was built with WordPress and utilizes the BuddyPress, BBPress, WooCommerce and LearnDash plugins.</p>
            </div>
            <div class="project-links">
                <a href="https://www.theschoolofmeditation.org/" target="_blank">Visit Website</a>
            </div>
        </article>

        <article class="project upenn">
            <figure class="project-thumb">
                <img src="/images/upenn-logo.png" alt="University of Pennsylvania Logo" />
            </figure>
            <div class="project-details">
                <h4 class="project-title">UPenn Full-Stack Web Development Bootcamp</h4>
                <p class="project-description">I taught a six-month, intensive boot camp program for full-stack web development at the University of Pennsylvania. Students began by learning the basics of HTML and finished by learning more modern technologies &amp; frameworks in the MERN stack (Mongo, Express, React, and Node).</p>
            </div>
        </article>

        

        {# 
        <article class="project infinite-prosperity">
            <figure class="project-thumb">
                <img src="/images/infinite-prosperity-logo.jpg" alt="Infinite Prosperity Logo" />
            </figure>
            <div class="project-details">
                <h4 class="project-title">Infinite Prosperity</h4>
                <p class="project-description">Implemented a redesign of Seth Godin's marketing blog, one of the most popular blogs on the internet.</p>
            </div>
            <div class="project-links">
                <a href="/projects/infinite-prosperity">Learn More</a>
            </div>
        </article>

        <article class="project shine">
            <figure class="project-thumb">
                <img src="/images/shine-lawyers-logo.png" alt="Shine Lawyers Logo" />
            </figure>
            <div class="project-details">
                <h4 class="project-title">Shine Lawyers</h4>
                <p class="project-description">Implemented a redesign of Seth Godin's marketing blog, one of the most popular blogs on the internet.</p>
            </div>
            <div class="project-links">
                <a href="/projects/infinite-prosperity">Learn More</a>
                <a href="https://www.theschoolofmeditation.org/" target="_blank">Visit Website</a>
            </div>
        </article>
        #}

    </div>

</section>

<div class="callout" id="contact">
    <h2>Let's Chat.</h2>
    <p>I'm currently available for hire. If you think we'd make a good team or have an exciting idea to chat about, feel free to <a href="mailto:hello@noahgrubb.com">get in touch</a>.</p>
</div>